@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-image: url("../image/background.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  animation: movebackground 300s linear infinite;
}

@keyframes movebackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw -100vh;
  }
}

.content::before {
  content: "";
  position: absolute;
  top: 10vh;
  right: 25vw;
  width: 100%;
  height: 100%;
  background-image: url("../image/background.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  filter: blur(10px);
  z-index: 1; /* 블러 처리된 배경이 컨텐츠 뒤에 위치하도록 설정 */
  animation: movebackground 300s linear infinite; /* 애니메이션을 블러 처리된 배경에 적용 */
}

.main {
  position: absolute;
  top: 10vh;
  left: 25vw;

  width: 50vw;
  height: 70vh;

  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
